* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items ul {
  display: flex;
  font-size: 24px;
  gap: 1rem;
  list-style: none;
}
.nav-items ul li {
  padding: 10px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  width: 200px;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-container:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 190px;
  height: 155px;
  margin: 5px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
